@font-face {
  font-family: selecta-bold;
  src: url("/font/selecta-bold.woff2") format("woff2"),
    url("/font/selecta-Bold.woff") format("woff");
}

@font-face {
  font-family: selecta-regular;
  src: url("/font/selecta-regular.woff2") format("woff2"),
    url("/font/selecta-regular.woff") format("woff");
}

:root {
  --font-family-bold: "selecta-bold", sans-serif;
  --font-family-regular: "selecta-regular", sans-serif;
  --font-size-h2-desktop: 60px;
  --line-height-h2-desktop: 1;
  --font-size-h2-mobile: 40px;
  --line-height-h2-mobile: 1;
  --font-size-p-desktop: 18px;
  --line-height-p-desktop: 22px;
  --font-size-p-mobile: 16px;
  --line-height-p-mobile: 20px;
  --font-size-info: 20px;
  --h2-desktop: var(--font-size-h2-desktop) / var(--line-height-h2-desktop)
    var(--font-family-bold);
  --h2-mobile: var(--font-size-h2-mobile) / var(--line-height-h2-mobile)
    var(--font-family-bold);
  --p-desktop: var(--font-size-p-desktop) / var(--line-height-p-desktop)
    var(--font-family-regular);
  --p-mobile: var(--font-size-p-mobile) / var(--line-height-p-mobile)
    var(--font-family-regular);
  --info: var(--font-size-info) var(--font-family-bold);
  --background-color: #1d1d1d;
  --background-black: #0c0c0c;
  --color-yellow: #f2de2a;
  --color-blue: #4189de;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  background-color: var(--background-color);
  overflow-x: hidden;
}

.v-container-margin {
  padding: 0 30px !important;
}

.v-no-margin {
  padding-left: 0 !important;
}

h1 {
  font-family: var(--font-family-bold);
  color: white;
}

h2 {
  font: var(--h2-desktop);
  color: white;
}

p {
  font: var(--p-desktop);
  color: white;
}

@media screen and (max-width: 900px) {
  h2 {
    font: var(--h2-mobile);
  }
  p {
    font: var(--p-mobile);
  }
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.info {
  font: var(--info);
  color: white;
}

span {
  color: var(--color-yellow);
}
